@font-face {
    font-family: myFont;
    src: url("../fonts/SKETSO.ttf")
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    background: #222222;
    color: #f7f7f7;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
    -webkit-text-stroke-width: 0.1px;
}

a:visited,
a:focus {
    color: none;
}

ol,
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    z-index: 99999;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

#home-slider {
    overflow: hidden;
    position: relative;
}

#home-slider .caption {
    position: absolute;
    top: 50%;
    margin-top: -104px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 15;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

#home-slider .caption h1 {
    font-family: 'myFont', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    margin-bottom: 30px;
}

#home-slider .caption p {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .2);
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.left-control,
.right-control {
    position: absolute;
    top: 50%;
    height: 51px;
    width: 51px;
    line-height: 48px;
    border-radius: 5%;
    z-index: 20;
    font-size: 24px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.left-control {
    left: -51px
}

.right-control {
    right: -51px;
}

.left-control:hover,
.right-control:hover {
    color: #fff;
}

#home-slider:hover .left-control {
    left: 30px
}

#home-slider:hover .right-control {
    right: 30px
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f5f5f5;
    margin: 0 10px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.navbar-collapse,
.collapse .in:after,
.main-nav-list:after,
.navbar-collapse:after,
.sticky-wrapper :after {
    z-index: 99999;
    background-color: transparent;
}

.main-nav-list {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.navbar-toggle {
    border: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    max-height: 200px;
    border-color: #fff;
}

.navbar-wrapper {
    background-color: transparent;
    padding: 5px 0;
    margin-bottom: 0;
    text-transform: uppercase;
    z-index: 1000;
    width: 100%;
    top: 0;
    position: fixed;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    z-index: 0 !important;
}

.scroll-fixed-navbar {
    background-color: #333333;
    opacity: 0.97;
    padding: 20px 0;
    box-shadow: 0px 0px 5px #666666;
    border-bottom: 1px solid #666666;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    z-index: 99999 !important;
}

.navbar-inverse .navbar-nav>.active>a {
    background-image: none;
    background-color: #fff;
    box-shadow: none;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.navbar-inverse {
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: transparent;
}

.dropdown-menu {
    background-color: #FFFFFF
}

.navbar-inverse {
    background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-image: none;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF
}

.navbar-inverse .navbar-brand:hover {
    color: #FFFFFF
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #fff
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #fff
}

.section-title-wrapper {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.section-title h1 span {
    color: #fff;
    padding: 0 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-title h3 {
    font-size: 24px;
    padding-top: 20px;
    text-transform: uppercase;
}

.element-title h1 {
    font-size: 30px;
    text-transform: uppercase;
}

.element-title h3 {
    font-size: 20px;
    text-transform: capitalize;
}

.typography-title h3 {
    font-size: 24px;
    padding: 20px 0;
    text-transform: capitalize;
}

.why-me {
    padding: 60px 2% 80px;
}

.wrapper-why-me {
    padding: 40px 0;
}

.about-me h2 {
    font-size: 24px;
    text-transform: uppercase;
}

.hovicon {
    display: inline-block;
    font-size: 80px;
    line-height: 200px;
    cursor: pointer;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hovicon.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    -webkit-transition: -webkit-transform 0.2s;
    -webkit-transform: scale(0.8);
    -moz-transition: -moz-transform 0.2s;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transition: transform 0.2s;
    transform: scale(0.8);
}

.hovicon.effect-1.sub-a:hover {
    color: #fff;
    font-size: 100px;
}

.hovicon.effect-1.sub-a:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.overlay-content {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.works {
    padding: 40px 0 0;
}

#filters {
    margin: 4%;
    padding: 0;
    list-style: none;
}

#filters li {
    display: inline-block;
    margin-right: 20px;
}

#filters li span {
    display: block;
    font-size: 14px;
    padding: 12px 22px;
    margin-bottom: 4%;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

#filters li span.active,
#filters li span:hover {
    color: #fff;
}

.myport .portfolio {
    width: 25%;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
    display: none;
    float: left;
    overflow: hidden;
}

.myport .portfolio-3-col {
    width: 25%;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
    display: none;
    float: left;
    overflow: hidden;
}

.myport .portfolio-4-col {
    width: 25%;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
    display: none;
    float: left;
    overflow: hidden;
}

.myport .portfolio-5-col {
    width: 25%;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
    display: none;
    float: left;
    overflow: hidden;
}

.portfolio-wrap {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100.1%;
}

.img-holder {
    height: auto;
    overflow: hidden;
    position: relative;
}

.img-holder img {
    height: auto;
    width: 100%;
}

.works-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.works-overlay .img-overlay {
    height: 100%;
    width: 100%;
}

.img-holder:hover .works-overlay {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.img-holder:hover .overlay-content {
    opacity: 1;
    top: 30%;
}

.works-overlay-category {
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
}

.works-overlay-text {
    color: #fff;
    font-size: 18px;
}

.works-overlay-icon {
    color: #fff;
    font-size: 60px;
}

.bottom-footer {
    /*    background: none repeat scroll 0 0 #fff;*/
    background: none repeat scroll 0 0 #333333;
}

.bottom-footer-left p span {
    font-size: 14px;
}

.bottom-footer-left p a {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.bottom-footer-left p a:hover {
    color: #fff;
}

.bottom-footer-left p {
    color: #fff;
}

.bottom-social-icons li a i {
    color: #fff;
    font-size: 22px;
    border-radius: 6px;
    display: block;
    height: 45px;
    width: 45px;
    padding-top: 12px;
    text-align: center;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.bottom-social-icons li a i:hover {
    background-color: transparent;
}

.bottom-footer {
    padding: 40px 0 20px;
}

.bottom-social-icons li {
    display: inline-block;
    margin: 10px 6px;
}

.bottom-social-icons {
    margin: 0 auto 40px;
    width: 100%;
}

label.error {
    display: none !important;
    background: none repeat scroll 0 0 #DE654E;
    color: #fff;
    padding: 3px 5px;
    margin-top: 10px;
}

.form-control.valid {
    border-color: #27AE61;
}

.form-control.error {
    border-color: #DE654E;
}

.contacts {
    padding: 60px 2% 120px;
}

.wrapper-contacts {
    padding-top: 40px;
}

.wrapper-contacts-icons {}

.contact_form #contact-form {
    padding-top: 50px;
}

.contact_form {
    margin: 0 auto;
    width: 70%;
}

.contact_form i {
    font-size: 40px;
}

.form-control {
    border-radius: 0;
    height: 44px;
    box-shadow: 0 12px 19px rgba(0, 0, 0, 0.1) inset, 0 1px 7px rgba(255, 255, 255, 0.2);
}

textarea.form-control {
    height: 102px;
}

.contact_form input[type="submit"] {
    color: #FFFFFF;
    cursor: pointer;
    height: 44px;
    width: 100%;
    box-shadow: 0 12px 19px rgba(0, 0, 0, 0.1) inset, 0 1px 7px rgba(255, 255, 255, 0.2);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.contact_form input[type="submit"]:hover {
    background: transparent;
}

a.scroll-up {
    border-radius: 3px;
    border: 2px solid transparent;
    bottom: 10px;
    display: none;
    padding: 5px 10px;
    position: fixed;
    right: 10px;
    text-align: center;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

a.scroll-up i {
    color: #fff;
}

a.scroll-up:hover {
    background: transparent;
}

.section-wrapper {
    margin-top: -90px;
    padding-top: 85px;
}